/*Global==============*/
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100&display=swap');

:root{
    --font_to_text: 'Poppins','sans-serif','serif';
    --font_to_title: 'Arial','Havelica','sans-serif' 'serif';
    --gray_black: rgba(54, 54, 54, 0.938);
    --cor_de_fundo: #d9e0ef;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: var(--font_to_text);
}
body{
    background-color: var(--cor_de_fundo);
}
/*Global=======================*/

/*personalInformation==========*/
#personalInformation{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.2rem;
}
#personalInformation img{
    width: 8.75rem ;
    height: 8.75rem;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}
#personalInformation h1{
    color: var(--gray_black);
    font-size: 1.2em;
    margin: 1em auto 0.5em auto;
}
#personalInformation p{
    color: var(--gray_black);
}
#personalInformation #contatos{
    margin: 0.8em auto 1.25rem auto;
}
#personalInformation a{
    text-decoration: none;
    color: var(--gray_black);
    display: inline-block;
    margin-top: .75rem;
}
/*p#personalInformation===========*/

/* about_me===================*/
#about_me{
    background-color: #fff;
    padding: 1.3em;
}
#about_me h2{
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-weight: 400;
}
#about_me p{
    line-height: 2.8em;
    color: var(--gray_black);
}
#tell_me p:after,#skills ul li:nth-of-type(7)::after{
    display: inline-block;
    content: '';
    position: relative;
    width: 98%;
    height: 0.125rem;
    background-color: var(--gray_black);
    
}

/*skills=======*/
#skills ul{
    list-style: none;
}
#skills ul li:nth-of-type(1){
    margin: 0;
}
#skills ul li {
    margin-top: 0.6em;
    font-size: 1.1em;
}
/*skills=====*/

/*courses====*/
#courses {
    color: rgb(24, 24, 24);
}
#courses h2{
    margin-top: 0.8em;
    margin-bottom: 1em;
    font-weight: 600;
}

#courses .course{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: .5rem;
    margin-bottom: 1rem;

}
#courses .course span{
    color: #000;
}

/*about_me====================*/

/*socialNetworks===============*/
footer{
    background-color: #3b5998;
}
#socialNetworks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 25px;
}
#socialNetworks a {
    color: rgba(255, 255, 255, 0.945);
    height: 12.5rem;
    font-size: 2em;
}
/*socialNetworks===============*/

/*dark_mode====================*/
label{
    display: inline-block;
    width: 4.562rem;
    height:  1.875rem;
    background-color: #3b5998;
    border-radius: 30px;
    margin-bottom: 2em;
    padding: .25rem;
    text-align: left;

}
span#ball{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 100%;
    transition-timing-function: ease-in-out;
   
}
/*input=======*/
input{
    display: none;
}

input:checked ~ main{
    background-color: #19232f;
    transition-duration: 0.4s;
}


input:checked ~ main #about_me{
    background-color: #2d3846;
    transition-duration: 0.2s;
}

input:checked ~ main #personalInformation p,
input:checked ~ main #personalInformation a,
input:checked ~ main #personalInformation h1,
input:checked ~ main  #geral #courses .course span,
input:checked ~ main  #geral #courses .course strong{
    color: rgba(255, 255, 255, 0.801);
}

input:checked ~ main #about_me,input:checked ~ main #about_me p{
    color:  rgba(255, 255, 255, 0.801);
}
input:checked ~ main #about_me h2,
input:checked ~ main #about_me h3
{
    color: #fff;
}

input:checked ~ main span#ball{
    transition-property: translateX();
    transform: translateX(40px);
    transition-duration: 0.4s;
}
input:checked ~ main #tell_me p:after,input:checked ~ main #skills ul li:nth-of-type(7)::after{
    background-color: rgba(255, 255, 255, 0.801);
}
input:checked ~ footer{
    background-color: #131a23;
}



@media screen and (min-width:600px){
   
    #geral{
        display:flex
    }
    #personalInformation{
        padding: 1em;
    }
   
}

@media screen and (min-width:1020px){
    #geral{
        width: 100%;
        max-width: 900px;
        margin:  0 auto;
    }
}

